---
layout: default
title: Creation Entries
permalink: /creation.html
---

<nav>
  <a href="/">← Home</a> | 
  <a href="/posts.html">Tech</a> | 
  <a href="/diary.html">Diary</a>
</nav>

<h1>Creation Entries</h1>

<ul>
  {% assign sorted_creation = site.creation | sort: 'date' | reverse %}
  {% for item in sorted_creation %}
    <li>
      {{ item.date | date: "%Y-%m-%d" }}: 
      <a href="{{ item.url }}">{{ item.title }}</a>
      {% if item.last_modified_at and item.last_modified_at != item.date %}
        <br><small>最終更新: {{ item.last_modified_at | date: "%Y-%m-%d %H:%M" }}</small>
      {% endif %}
    </li>
  {% endfor %}
</ul>