---
layout: default
title: Diary Entries
permalink: /diary.html
---

<nav>
  <a href="/">← Home</a> | 
  <a href="/posts.html">Tech</a>
</nav>

<h1>Diary Entries</h1>

<ul>
  {% assign sorted_diary = site.diary | sort: 'date' | reverse %}
  {% for diary in sorted_diary %}
    <li>
      {{ diary.date | date: "%Y-%m-%d" }}: 
      <a href="{{ diary.url }}">{{ diary.title }}</a>
      {% if diary.last_modified_at and diary.last_modified_at != diary.date %}
        <br><small>最終更新: {{ diary.last_modified_at | date: "%Y-%m-%d %H:%M" }}</small>
      {% endif %}
    </li>
  {% endfor %}
</ul>

